Repository hmcts/idam-testing-support-api, pull requests merged in 2022-08, with the labels that each got.

#121 reset session states on startup
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/repo/TestingSessionRepo.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/startup/StartupEventListener.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/startup/StartupEventListenerTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-121

#135 SIDM-7999 use entity that has id, and cve fix
  build.gradle
  charts/idam-testing-support-api/Chart.yaml
  charts/idam-testing-support-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserService.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-135

#136 Add backstage configuration file
  catalog-info.yaml
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-136
