Repository hmcts/idam-testing-support-api, pull requests merged in 2023-10, with the labels that each got.

#357 Revert "Update dependency checkstyle to v10"
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-357

#350 SIDM 8901 rd test users
  build.gradle
  lib/applicationinsights.json
  src/functionalTest/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/EnvConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/IdamV2UserManagementApi.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/auth/IdamClientCredentialsConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/error/SpringWebClientHelper.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/model/ApiError.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/model/ErrorDetail.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/oidc/auth/ClientCredentialsRequestInterceptor.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/oidc/auth/ClientPrincipal.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/oidc/auth/PasswordGrantRequestInterceptor.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/Application.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/OpenIdConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/UserProfileController.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/error/CommonExceptionHandler.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/error/ErrorReason.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/receiver/CleanupReceiver.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/repo/model/TestingEntityType.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingEntityService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserProfileService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserService.java
  src/main/java/uk/gov/hmcts/cft/rd/api/RefDataCaseWorkerApi.java
  src/main/java/uk/gov/hmcts/cft/rd/api/RefDataUserProfileApi.java
  src/main/java/uk/gov/hmcts/cft/rd/api/auth/RefDataAuthConfig.java
  src/main/java/uk/gov/hmcts/cft/rd/model/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/cft/rd/model/UserCategory.java
  src/main/java/uk/gov/hmcts/cft/rd/model/UserProfile.java
  src/main/java/uk/gov/hmcts/cft/rd/model/UserStatus.java
  src/main/java/uk/gov/hmcts/cft/rd/model/UserType.java
  src/main/java/uk/gov/hmcts/cft/rpe/api/RpeS2STestingSupportApi.java
  src/main/java/uk/gov/hmcts/cft/rpe/api/auth/RpeS2SRequestInterceptor.java
  src/main/java/uk/gov/hmcts/cft/rpe/api/auth/RpeS2STestingSupportAuthTokenGenerator.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V2023_10_03_1105__add_types.sql
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/error/CommonExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/receiver/CleanupReceiverTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminServiceTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingEntityServiceTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserServiceTest.java
Labels: ns:idam, prd:idam, add-or-update, rel:idam-testing-support-api-pr-350

#366 SIDM-8901 chart values
  charts/idam-testing-support-api/Chart.yaml
  charts/idam-testing-support-api/values.preview.template.yaml
  charts/idam-testing-support-api/values.yaml
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-366

#376 Tidy up suppressions and suppress CVE-2023-4586
  config/owasp/suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-376

#383 add location desc
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingCaseWorkerProfileService.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-383

#387 SIDM-8901 add service description
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingCaseWorkerProfileService.java
Labels: ns:idam, prd:idam, no-changes, rel:idam-testing-support-api-pr-387

#393 cve
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-393

#397 Suppress netty CVE with no fix
  config/owasp/suppressions.xml
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-397
