Repository hmcts/idam-testing-support-api, pull requests merged in 2023-02, with the labels that each got.

#222 SIDM-8455 update users and remove roles and services
  .github/dependabot.yml
  build.gradle
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/IdamV2UserManagementApi.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/RoleController.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/ServiceProviderController.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingEntityService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/trace/TraceAttribute.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/UserControllerTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingEntityServiceTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-222

#228 DTSPO-11969 - Add expiresAfter in sbox
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
Labels: ns:idam, prd:idam, no-changes, rel:idam-testing-support-api-pr-228

#229 integration test
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  serenity.properties
  src/functionalTest/java/uk/gov/hmcts/cft/idam/testingsupportapi/UserApiIntegrationTest.java
  src/functionalTest/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/EnvConfig.java
  src/functionalTest/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/AdminControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/cft/idam/testingsupportapi/steps/BaseSteps.java
  src/functionalTest/java/uk/gov/hmcts/cft/idam/testingsupportapi/steps/UserSteps.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/RoleControllerTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/ServiceProviderControllerTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/UserControllerTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-229
