Repository hmcts/idam-testing-support-api, pull requests merged in 2023-01, with the labels that each got.

#201 SIDM-7280 change swagger order
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/DocConfig.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-201

#208 SIDM-8408 add get user
  Jenkinsfile_CNP
  charts/idam-testing-support-api/Chart.yaml
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/UserController.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserService.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/UserControllerTest.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingUserServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-208

#212 SIDM-8396: Upgrade terraform and azurerm provider
  infrastructure/.terraform-version
  infrastructure/main.tf
Labels: ns:idam, prd:idam, no-changes, rel:idam-testing-support-api-pr-212
