Repository hmcts/idam-testing-support-api, pull requests merged in 2024-08, with the labels that each got.

#639 SIDM-9145 prevent retries
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/receiver/CleanupReceiver.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/trace/TraceAttribute.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-639

#640 SIDM-9145 lock burner users for update
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/SchedulerConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/repo/TestingEntityRepo.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminService.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-640

#649 SIDM-9145 checkstyle
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/QueueConfig.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-649

#653 SIDM-9145 rate limit burner expiry
  Jenkinsfile_CNP
  build.gradle
  charts/idam-testing-support-api/Chart.yaml
  charts/idam-testing-support-api/values.aat.template.yaml
  charts/idam-testing-support-api/values.preview.template.yaml
  charts/idam-testing-support-api/values.yaml
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/ratelimit/RateLimitService.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/ratelimit/TokenBucket.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/ratelimit/TokenBucketConfiguration.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/ratelimit/TokenBucketRepo.java
  src/main/java/uk/gov/hmcts/cft/idam/api/v2/common/ratelimit/TokenBucketRepoImpl.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/CacheConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/config/RateLimitConfig.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/controllers/AdminController.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/properties/RateLimitProperties.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-653

#664 SIDM-9365 Java 21
  build.gradle
Labels: ns:idam, prd:idam, aat/no-changes, rel:idam-testing-support-api-pr-664
