Repository hmcts/idam-testing-support-api, pull requests merged in 2025-06, with the labels that each got.

#864 SIDM-9773 add cleanup logging for precondition failures
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminService.java
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-864

#867 SIDM-9773 Remove single users for test roles
  build.gradle
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminService.java
  src/main/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/TestingSessionService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/cft/idam/testingsupportapi/service/AdminServiceTest.java
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-867

#866 CME-530 replace jitpack with azure
  build.gradle
Labels: ns:idam, prd:idam, rel:idam-testing-support-api-pr-866
